<div class="contact-modal" data-js="contact-modal">
	<div class="contact-modal__cross" data-js="contact-modal-cross"></div>
	<div class="contact-modal__top-title">
		<h2 class="contact-modal__title" data-js="contact-modal-title">UI/UX
			Technical Designer</h2>
		<time
			class="contact-modal__date"
			datetime="2023-05-29"
			data-js="contact-modal-date"
		>Май 29, 2023</time>
	</div>
	<div
		class="contact-modal__subtitle"
		data-js="contact-modal-work-type"
	>Удаленно</div>
	<p class="contact-modal__info" data-js="contact-modal-message">
		We are looking for a talented and skillful UI/UX Technical Designer to work
		on our game projects for the world’s best publishers and game developers.
		Pingle Game Studio is a team of professional game developers with over 15
		years of industry experience. Our goal is to reach and maintain a leading
		position among video game developers all over the world. We are engaged in
		the development and porting, work with all stages of development.
	</p>
	<div
		class="contact-modal__requirements-title"
		data-js="contact-modal-req-title"
	>Основные требования:</div>
	<ul class="contact-modal__requirements-list" data-js="contact-modal-req-list">
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Creating and implementing interfaces from premade design layouts;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Compiling and working with interfaces inside game engine (Unreal
			Engine/Unity);
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Supporting and correcting the existing interfaces;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Creating the structure and work logic for existing interfaces;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Adapting interfaces for different platforms: PC, Consoles, Mobile;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Offering improvements to the existing interfaces;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Optimizing and importing UI assets;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Close collaboration with UI/UX designers and game designers;
		</li>
		<li
			class="contact-modal__requirements-item"
			data-js="contact-modal-req-item"
		>
			Drawing simple elements of interfaces.
		</li>
	</ul>
	<div class="contact-modal__contact-us-title">
		Понравилась вакансия? Свяжись с нами!
	</div>
	<form
		action=""
		class="contact-modal__form"
		data-js="contact-form"
		id="contact-form"
		enctype="multipart/form-data"
		data-js-details='{"url": "http://192.168.0.5:5000/form1"}'
	>
		<div class="contact-modal__input-container">
			<input
				type="text"
				class="input-text contact-modal__input"
				placeholder="*Name"
				required
			/>

			<input
				type="email"
				class="input-text contact-modal__input"
				placeholder="*Email"
				required
			/>
			<div
				class="contact-modal__input input-icon-container input-icon-container--telegram"
			>
				<input
					type="text"
					class="input-text input-text--telegram"
					placeholder="@example"
				/>
			</div>
			<div
				class="contact-modal__input input-icon-container input-icon-container--linkedin"
			>
				<input
					type="text"
					class="input-text input-text--linkedin contact-modal__input"
					placeholder="linkedin"
				/>
			</div>
		</div>

		<textarea
			name="about-me"
			id="about-me"
			placeholder="*write about yourself..."
			class="contact-modal__textarea text-area"
			required
		></textarea>

		<div class="contact-modal__bottom">
			<div class="contact-modal__file">
				<label for="input-file" class="contact-modal__file-label"></label>
				<input
					type="file"
					class="input-file"
					id="input-file"
					title="Прикрепить резюме"
				/>
				<button
					class="contact-modal__resume"
					id="fileButton"
					data-js="get-file-btn"
				>
					Прикрепить резюме
				</button>
				<div class="contact-modal__delete-file" data-js="delete-file"></div>
			</div>
			<input
				type="submit"
				value="Отправить"
				class="contact-modal__input-submit"
			/>
		</div>
		<input
			type="reset"
			value="Очистить форму"
			data-js="contact-modal-reset"
			style="display: none;"
		/>
	</form>
</div>