<footer class="footer">
	<div class="footer__top">
		<div class="footer__logo">
			<img
				src={{footerImage}}
				alt="Zorg-games"
				width="284"
				height="240"
				loading="lazy"
			/>
		</div>
		<div class="footer__policy">
			<div class="footer__policy-content">
				<span class="footer__years">© 2020 - 2023 ZORG GAMES</span>
				<div>Политика конфиденциальности Условия оказания услуг</div>
			</div>
		</div>
		<div class="footer__contacts">
			<div class="footer__contacts-inner">
				<a href="tel:+79028607651">+7 (902) 860-76-51</a>
				<a href="mailto:m.zhvikovm@gmail.com">m.zhvikovm@gmail.com</a>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		Просматривая этот сайт, Вы соглашаетесь нашей политикой конфиденциальности.
		<a href="#" target="_blank">Принять Политика конфиденциальности</a>
	</div>
</footer>