<div class="laptop-menu" data-js="laptop-menu">
	<nav class="laptop-menu__nav">
		<ul class="laptop-menu__list">
			<li class="laptop-menu__item"><a href="/pages/studia.html">Студия</a></li>
			<li class="laptop-menu__item"><a
					href="/pages/portfolio.html"
				>Портфолио</a></li>
			<li class="laptop-menu__item"><a
					href="/pages/advance.html"
				>Работа</a></li>
			<li class="laptop-menu__item"><a
					href="/pages/facility.html"
				>Услуги</a></li>
			<li class="laptop-menu__item"><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<div class="social">
		<a class="block" href="tel:79028607651">+7 (902) 860-76-51</a>
		<a class="block" href="mailto:m.zhvikovm@gmail.com">m.zhvikovm@gmail.com</a>
	</div>
</div>