.activity {
	position: relative;
	padding-bottom: 155px;
	@media screen and (max-width: 800px) {
		padding-bottom: 90px;
	}
	&::after {
		content: "";
		width: 6vw;
		height: 100%;
		position: absolute;
		right: 0;
		top: -17vw;
		background-image: url("../../../public/img/circle-tight-small.svg");
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}

	&__title {
		color: $color-white;
		margin-left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		text-align: center;
		font-family: $font-main;
		font-size: clamp(2vw, 2vw + 1rem, 40px);
		font-style: normal;
		font-weight: 700;
		line-height: 100.523%;
		margin-bottom: 130px;
		position: relative;

		@media screen and (max-width: 706px) {
			margin-bottom: 50px;
		}

		&::before {
			content: "";
			width: 70px;
			height: 94px;
			position: absolute;
			right: calc(-70px - 40px);
			top: -50%;
			background-image: url("../../../public/img/map.svg");
			background-repeat: no-repeat;
			background-size: cover;

			@media screen and (max-width: 666px) {
				right: -90px;
				top: -192%;
			}

			@media screen and (max-width: 421px) {
				right: -55px;
				top: -269%;
			}
		}
		&::after {
			content: "";
			width: 30vw;
			height: 20px;
			position: absolute;
			left: 58vw;
			bottom: 0;
			transform: translateX(calc(-125%)) rotate(180deg);
			background-image: url("../../../public/img/line-left.svg");
			background-repeat: no-repeat;
			background-size: contain;

			@media screen and (max-width: 2350px) {
				left: 59vw;
			}

			@media screen and (max-width: 2000px) {
				width: 25vw;
			}
			@media screen and (max-width: 1566px) {
				width: 23vw;
			}

			@media screen and (max-width: 1488px) {
				width: 24vw;
				transform: translateX(calc(-112%));
			}

			@media screen and (max-width: 1391px) {
				width: 22vw;
				transform: translateX(calc(-110%));
			}

			@media screen and (max-width: 1260px) {
				width: 20vw;
				transform: translateX(calc(-110%));
			}

			@media screen and (max-width: 1167px) {
				width: 18vw;
				transform: translateX(-102%);
			}

			@media screen and (max-width: 1130px) {
				width: 17vw;
				transform: translateX(-100%);
			}
			@media screen and (max-width: 1021px) {
				width: 15vw;
				transform: translateX(-96%);
			}
			@media screen and (max-width: 970px) {
				width: 14vw;
				transform: translateX(-80%);
			}

			@media screen and (max-width: 890px) {
				width: 10vw;
				transform: translateX(-70%);
			}

			@media screen and (max-width: 840px) {
				width: 10vw;
				transform: translateX(-44%);
			}

			@media screen and (max-width: 780px) {
				transform: translateX(-40%);
			}

			@media screen and (max-width: 760px) {
				width: 10vw;
				transform: translateX(-15%);
			}

			@media screen and (max-width: 706px) {
				width: 17vw;
				transform: translateX(-75%);
			}

			@media screen and (max-width: 706px) {
				display: none;
			}
		}
	}
}
