.gallery {
	padding-top: calc(77px + 75px);
	padding-bottom: 108px;

	@media screen and (max-width: 500px) {
		padding-top: 100px;
	}

	&__swiper {
		display: flex;
		justify-content: center;
		position: relative;
	}
}
