.portfolio {
	padding-top: 179px;
	margin-bottom: 256px;

	@media screen and (max-width: 1347px) {
		margin-bottom: 100px;
		padding-top: 100px;
	}

	&__overlay {
		position: fixed;
		top: 75px;
		left: 0;
		right: 0;
		bottom: 0;
		backdrop-filter: blur(8px);
		z-index: 2;
		display: none;
		&.active {
			display: block;
		}
	}

	&__title {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		position: sticky;
		top: 80px;
		z-index: 2;
		@media screen and (max-width: 1400px) {
			display: flex;
			justify-content: space-between;
		}
		@media screen and (max-width: 1016px) {
			display: flex;
			justify-content: flex-end;
		}
	}

	&__header {
		grid-column: 3 / 6;
		max-width: 571px;
		width: 100%;
		height: 100%;
		min-height: 60px;
		border-radius: 40px;
		background: $color-gray2;
		@media screen and (max-width: 1016px) {
			display: none;
		}
	}

	&__filter {
		cursor: pointer;
		width: 382px;
		height: 60px;
		border-radius: 38px;
		background: #242424;
		position: relative;
		user-select: none;
		transition: all 0.3s;
		color: $color-white;
		text-align: center;
		font-family: $font-main;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			content: "";
			cursor: pointer;
			max-width: 60px;
			max-height: 60px;
			width: 100%;
			height: 100%;
			background-image: url("../../../public/img/portfolio/filter.svg");
			background-size: 34px 30px;
			background-position: center;
			background-repeat: no-repeat;
			position: absolute;
			background-color: $color-accent;
			border-radius: 38px;
			right: 0;
		}
	}

	&__filter-list {
		//position: absolute;
		overflow: hidden;
		padding-top: 60px;
		z-index: -1;
		//right: 0;
		width: 381px;
		height: 60px;
		border-radius: 30px;
		background: #343433;
		box-shadow: 0px 41px 21px -19px rgba(0, 0, 0, 0.15);
		transition: all 0.3s;
		@media screen and (max-width: 442px) {
			width: 100%;
		}
	}

	&__filter-form-submit {
		margin-top: 10px;
		position: absolute;
		bottom: -10px;
		transform: translateY(100%);
		display: flex;
		width: 100%;
	}

	&__filter-submit {
		cursor: pointer;
		display: none;
		flex-grow: 1;
		flex-shrink: 0;
		background-color: $color-accent;

		border-radius: 38px;
		color: $color-white;
		font-family: $font-main;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 100.523%;
		padding: 5px 11px;
		&--active {
			display: block;
		}

		&:active {
			background-color: #343433;
			color: $color-accent;
		}
	}

	&__filter-clear {
		flex-grow: 1;
		flex-shrink: 0;
		border-radius: 38px;
		background-color: $color-gray;
		max-width: 0px;
		overflow: hidden;
		transition: max-width 0.5s;
		color: $color-white;
		font-family: $font-main;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 100.523%;
		cursor: pointer;

		&--active {
			max-width: 100%;
			padding: 5px 11px;
		}

		&--hidden {
			display: none;
		}
	}

	&__filter-checkbox {
		width: 100%;
		display: inline-block;
		color: $color-white;
		font-family: $font-main;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 100.523%; /* 20.105px */
	}

	&__filter-list--active {
		overflow-y: auto;
		height: 415px;
		/* Для WebKit браузеров (Chrome, Safari) */
		&::-webkit-scrollbar-thumb:vertical {
			background-color: $color-gray3;
			outline: 1px solid $color-gray3;
		}
		&::-webkit-scrollbar:vertical {
			background-color: transparent; //$color-gray
			width: 10px;
		}
		/* Для Firefox браузера */
		&::-moz-scrollbar-thumb:vertical {
			background-color: $color-gray3;
		}

		&::-moz-scrollbar:vertical {
			background-color: $color-gray;
		}
	}

	&__filter-form {
		padding-top: 15px;
	}

	&__filter-input-block {
		margin: 0px 25px 18px 25px;
	}

	&__filter-list-legend {
		width: 90%;
		margin: 15px;
		background-color: $color-gray3;
		border-radius: 7px;
		padding: 5px 11px;
		color: $color-white;
		font-family: $font-main;
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
		line-height: 100.523%;
	}

	&__filter-btn {
		cursor: pointer;
		max-width: 60px;
		max-height: 60px;
		width: 100%;
		height: 100%;
		background-image: url("../../../public/img/portfolio/filter.svg");
		background-size: 34px 30px;
		background-position: center;
		background-repeat: no-repeat;
		position: absolute;
		background-color: $color-accent;
		border-radius: 38px;
		right: 0;
	}

	&__content {
		justify-items: center;
		padding-top: 66px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
		gap: 40px;
		grid-auto-flow: row dense;
		@media screen and (max-width: 553px) {
			grid-template-columns: repeat(auto-fit, minmax(176px, 1fr));
		}
		@media screen and (max-width: 450px) {
			grid-template-columns: repeat(auto-fit, minmax(137px, 1fr));
		}

		@media screen and (max-width: 365px) {
			grid-template-columns: repeat(auto-fit, 1fr);
		}
	}

	&__content-top {
		display: flex;
		align-items: center;
		gap: 11px;
	}

	&__main-block {
		box-sizing: border-box;
		z-index: 5;
		position: fixed;
		height: auto;
		top: 50dvh;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;
		max-height: 0px;
		transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
		max-width: 1026px;
		width: 80%;
		border-radius: 40px;
		background-color: $color-gray;
		padding: 0;
		/* Для WebKit браузеров (Chrome, Safari) */
		&::-webkit-scrollbar-thumb:vertical {
			background-color: $color-gray3;
		}
		&::-webkit-scrollbar:vertical {
			background-color: $color-gray;
			width: 30px;
		}
		/* Для Firefox браузера */
		&::-moz-scrollbar-thumb:vertical {
			background-color: $color-gray3;
		}

		&::-moz-scrollbar:vertical {
			background-color: $color-gray;
		}

		@media screen and (max-width: 400px) {
			top: 54dvh;
		}

		&--open {
			max-height: 60dvh;
			padding: 59px 54px 66px 54px;
			transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
			@media screen and (max-width: 728px) {
				max-height: 90dvh;
				padding: 20px;
			}
		}
	}

	&__main-block-cross {
		cursor: pointer;
		position: absolute;
		right: 37px;
		top: 34px;
		width: 60px;
		height: 60px;
		background-image: url("../../../public/img/portfolio/cross.svg");
		background-repeat: no-repeat;
		background-size: contain;
		@media screen and (max-width: 1083px) {
			top: 15px;
			right: 17px;
			width: 40px;
			aspect-ratio: 1 / 1;
		}
	}

	&__main-block-top {
		display: flex;
		align-items: center;
		gap: 11px;
		margin-bottom: 38px;
		@media screen and (max-width: 727px) {
			flex-wrap: wrap;
		}
	}

	&__main-block-info {
		display: flex;
		flex-direction: column;
		gap: 7px;
		margin-right: 38px;
	}

	&__main-block-img {
		flex-shrink: 0;
		width: 135px;
		aspect-ratio: 1 / 1;
		border-radius: 10px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__main-block-title {
		color: $color-white;
		text-align: center;
		font-family: $font-main;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 100.523%;
	}

	&__main-block-date {
		color: #d3d3d3;
		text-align: center;
		font-family: $font-main;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: 100.523%;
		@media screen and (max-width: 466px) {
			text-align: left;
		}
	}

	&__main-block-text {
		color: $color-white;
		font-family: $font-main;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 100.523%;
	}

	&__main-game-container {
		display: flex;
		justify-content: space-between;
		gap: 42px;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-padding: 50%;
		padding-bottom: 10px;
		/* Для WebKit браузеров (Chrome, Safari) */
		&::-webkit-scrollbar-thumb:horizontal {
			background-color: $color-gray3;
		}
		&::-webkit-scrollbar:horizontal {
			background-color: $color-gray;
			height: 30px;
			outline: 1px solid $color-gray;
		}
		/* Для Firefox браузера */
		&::-moz-scrollbar-thumb:horizontal {
			background-color: $color-gray3;
		}

		&::-moz-scrollbar:horizontal {
			background-color: $color-gray;
		}
	}

	&__main-game-card {
		max-width: 278px;
		scroll-snap-align: center;
		border-radius: 25px;
		border: 6px dashed #9c0;
		width: 28%;
		height: 28dvh;
		overflow: hidden;
		scroll-snap-align: center;
		flex-shrink: 0;

		@media screen and (max-width: 900px) {
			width: 36%;
		}
		@media screen and (max-width: 800px) {
			width: 45%;
		}
		@media screen and (max-width: 500px) {
			width: 60%;
		}
		@media screen and (max-width: 400px) {
			width: 80%;
		}
	}

	&__main-game-card-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__item {
		border-radius: 40px;
		border: 6px dashed #9c0;
		max-width: 226.59px;
		width: 100%;
		aspect-ratio: 1 / 1;
		cursor: pointer;
		overflow: hidden;
		&-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__filter-container {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		z-index: -1;

		@media screen and (max-width: 443px) {
			width: 100%;
		}
	}
}
