.work-condition {
	&__wrapper {
		margin-bottom: 107px;
	}
	position: relative;
	&::after {
		content: "";
		width: 6vw;
		height: 55vw;
		position: absolute;
		right: 0;
		top: -40vw;
		background-image: url("../../../public/img/circle-tight-small.svg");
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}
}
