.arrow {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 40px;
	user-select: none;

	@media screen and (max-width: 1671px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (max-width: 400px) {
		grid-template-columns: 85px 1fr auto;
		column-gap: 0px;
	}

	&-btn {
		color: #3c6100 !important;
		align-items: center;
		justify-content: center;
		display: flex;
		cursor: pointer;
		grid-column: 6 / 8;
		@media screen and (max-width: 1671px) {
			grid-column: 2 / 3;
			justify-self: center;
		}

		@media screen and (max-width: 400px) {
			grid-column: 2 / 3;
			justify-self: start;
		}
	}

	&-info {
		color: #9c0;
		transform: rotate(-28.671deg);
		grid-column: 4 / 6;
		justify-self: end;
		text-align: right;
		font-family: $font-second;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		&::after {
			content: "";
			width: 106%;
			height: 100%;
			position: absolute;
			left: 0;
			bottom: -50%;
			transform: rotate(28.431deg) translateX(25%);
			background-repeat: no-repeat;
			background-image: url("../../../public/img/arrow.svg");
			@media screen and (max-width: 600px) {
				font-size: 16px;
				background-size: contain;
				bottom: -55%;
				width: 80%;
			}
			@media screen and (max-width: 400px) {
				background-size: contain;
				bottom: -30%;
				width: 80%;
				left: -22px;
			}
		}
		@media screen and (max-width: 1671px) {
			grid-column: 1 / 2;
		}

		@media screen and (max-width: 745px) {
			font-size: 28px;
			background-size: contain;
			justify-self: start;
		}

		@media screen and (max-width: 600px) {
			font-size: 22px;
		}

		@media screen and (max-width: 445px) {
			font-size: 16px;
		}
	}

	&-info--right {
		color: #9c0;
		transform: rotate(28.671deg);
		grid-column: 8 / 10;
		text-align: right;
		font-family: $font-second;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		&::after {
			content: "";
			width: 106%;
			height: 145%;
			position: absolute;
			left: -30px;
			bottom: -243%;
			transform: rotateZ(340deg) rotateY(180deg) rotateX(0);
			background-repeat: no-repeat;
			background-image: url("../../../public/img/arrow.svg");

			@media screen and (max-width: 747px) {
				height: 200%;
				left: 17px;
			}

			@media screen and (max-width: 600px) {
				font-size: 16px;
				background-size: contain;
				bottom: -320%;
				width: 80%;
			}
			@media screen and (max-width: 400px) {
				background-size: contain;
				bottom: -320%;
				width: 80%;
				left: 36px;
			}
		}
		@media screen and (max-width: 1671px) {
			grid-column: 3 / 4;
			justify-self: start;
		}

		@media screen and (max-width: 745px) {
			font-size: 28px;
			background-size: contain;
			justify-self: start;
		}

		@media screen and (max-width: 600px) {
			font-size: 22px;
		}

		@media screen and (max-width: 445px) {
			font-size: 16px;
		}
	}
}
