.contact-modal {
	box-sizing: border-box;

	z-index: 5;
	position: fixed;
	height: auto;
	top: 50dvh;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	max-height: 0px;
	transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
	max-width: 1350px;
	width: 80%;
	border-radius: 40px;
	background-color: $color-gray;
	padding: 0;
	color: $color-white;
	font-family: $font-main;
	font-style: normal;
	font-weight: 400;
	line-height: 124.023%;
	/* Для WebKit браузеров (Chrome, Safari) */
	&::-webkit-scrollbar-thumb:vertical {
		background-color: $color-gray3;
	}
	&::-webkit-scrollbar:vertical {
		background-color: $color-gray;
		width: 10px;
	}
	/* Для Firefox браузера */
	&::-moz-scrollbar-thumb:vertical {
		background-color: $color-gray3;
	}

	&::-moz-scrollbar:vertical {
		background-color: $color-gray;
	}

	@media screen and (max-width: 400px) {
		top: 54dvh;
	}

	&__input {
		flex-shrink: 0;
	}

	&__top-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media screen and (max-width: 1350px) {
			flex-direction: column;
			align-items: start;
			gap: 10px;
			margin-bottom: 10px;
		}
	}

	&__date {
		font-size: clamp(23px, 4vw, 36px);
		line-height: 100.523%;
	}

	&__title {
		color: $color-accent;
		font-size: clamp(24px, 4vw, 48px);
		font-weight: 700;
		line-height: 100.523%;
	}

	&__subtitle {
		font-size: clamp(22px, 4vw, 32px);
		font-weight: 400;
		line-height: 100.523%;
		margin-bottom: 20px;
	}

	&__info {
		font-size: clamp(14px, 4vw, 24px);
		margin-bottom: 55px;
		line-height: 124.023%; /* 29.765px */
	}

	&__requirements-title {
		font-size: clamp(22px, 4vw, 32px);
		font-weight: 700;
		line-height: 100.523%; /* 32.167px */
		margin-bottom: 20px;
	}

	&__requirements-list {
		padding-left: 30px;
		list-style: none disc !important;
		margin-bottom: 60px;
	}

	&__requirements-item {
		font-size: clamp(14px, 4vw, 24px);
		line-height: 132.023%;
	}

	&__contact-us-title {
		color: $color-accent;
		text-align: center;
		font-family: $font-second;
		font-size: clamp(24px, 4vw, 48px);
		font-weight: 700;
		line-height: normal;
		transform: rotate(-1.84deg);
		margin-bottom: 65px;
	}

	&__input-container {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 27px;

		@media screen and (max-width: 899px) {
			flex-direction: column;
			align-items: start;
		}
	}

	&__textarea {
		margin-bottom: 30px;
		/* Для WebKit браузеров (Chrome, Safari) */
		&::-webkit-scrollbar-thumb:vertical {
			background-color: $color-gray3;
		}
		&::-webkit-scrollbar:vertical {
			background-color: $color-gray;
			width: 10px;
		}
		/* Для Firefox браузера */
		&::-moz-scrollbar-thumb:vertical {
			background-color: $color-gray3;
		}

		&::-moz-scrollbar:vertical {
			background-color: $color-gray;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media screen and (max-width: 562px) {
			flex-direction: column;
			gap: 10px;
		}
	}

	&__file {
		display: flex;
		gap: 20px;
		align-items: center;
		justify-items: center;
		width: 100%;
	}

	&__file-label {
		&::before {
			content: "";
			width: 66px;
			aspect-ratio: 1 / 1;
			background-image: url("../../../public/img/form/file.png");
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			@media screen and (max-width: 1083px) {
				width: 45px;
			}
		}
	}

	&__delete-file {
		position: relative;

		&--shown {
			&::after {
				content: "";
				cursor: pointer;
				position: absolute;
				top: 0;
				transform: translateY(-50%);
				left: 0;
				width: 30px;
				height: 30px;
				background-image: url("../../../public/img/portfolio/cross.svg");
				background-repeat: no-repeat;
				background-size: contain;
				@media screen and (max-width: 1083px) {
					top: 0;
					transform: translateY(-50%);
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	&__overlay {
		position: fixed;
		top: 75px;
		left: 0;
		right: 0;
		bottom: 0;
		backdrop-filter: blur(8px);
		z-index: 2;
		display: none;
		&.active {
			display: block;
		}
	}

	&__resume {
		overflow-x: auto;
		max-width: 271px;
		text-align: center;
		font-size: clamp(9px, 1vw, 24px);
		text-decoration-line: underline;
	}

	&__input-submit {
		cursor: pointer;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: clamp(10px, 5vw, 75px); //20px 75px;
		padding-right: clamp(10px, 5vw, 75px); //20px 75px;
		max-width: 291px;
		min-height: 56px;
		color: $color-black;
		text-align: center;
		font-family: $font-main;
		font-size: clamp(12px, 2vw, 24px);
		font-style: normal;
		font-weight: 700;
		line-height: 100.523%;
		border-radius: 18px;
		background-color: $color-accent;
	}

	&--open {
		overflow-x: hidden;
		max-height: min(80dvh, 1474px);
		padding: 130px 70px 40px 70px;
		transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
		@media screen and (max-width: 728px) {
			max-height: 90dvh;
			padding: 20px;
			padding-top: 60px;
		}
	}

	&__cross {
		cursor: pointer;
		position: absolute;
		right: 37px;
		top: 34px;
		width: 60px;
		height: 60px;
		background-image: url("../../../public/img/portfolio/cross.svg");
		background-repeat: no-repeat;
		background-size: contain;
		@media screen and (max-width: 1083px) {
			top: 15px;
			right: 17px;
			width: 40px;
			aspect-ratio: 1 / 1;
		}
	}
}
