.swiper-pagination {
	bottom: -32px !important;
	z-index: 0 !important;
}

.swiper-pagination-bullet {
	box-sizing: content-box;
	width: 11px;
	height: 11px;
	background-color: var(--color-white) !important;
	border: 3px solid var(--color-black2);
	opacity: 1 !important;
	transition: width 0.8s !important;
}

.swiper-pagination-bullet-active {
	width: 36px !important;
	border-radius: 12px !important;
	background-color: var(--color-accent) !important;
}

.swiper-container {
	width: 100%;
	height: 556px;
	overflow: hidden;
	@media screen and (max-width: 1630px) {
		height: 450px;
	}
	@media screen and (max-width: 1184px) {
		height: 350px;
	}
	@media screen and (max-width: 800px) {
		height: 250px;
	}
	@media screen and (max-width: 600px) {
		height: 200px;
	}
	@media screen and (max-width: 470px) {
		height: 150px;
	}
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	//background: transparent;
	border: 10px solid var(--color-black2);
	border-radius: 40px;
	overflow: hidden;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-container .swiper-zoom-container > * {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
