.toast_success {
	max-width: 360px;
	font-size: clamp(11px, 3vw, 25px);
	border-radius: 10px !important;
	font-family: "Montserrat", sans-serif;
}

.toast_error {
	max-width: 360px;
	font-size: clamp(11px, 3vw, 25px);
	border-radius: 10px !important;
	font-family: "Montserrat", sans-serif;
}
