.block {
	display: block;
}

.mb30 {
	margin-bottom: 30px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb23 {
	margin-bottom: 23px;
}

.center {
	margin: 0 auto;
}

.disabled-scroll {
	overflow-y: hidden;
}

.flowContainer {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: auto 1fr;
	margin: auto;
	max-width: 100%;
	min-height: inherit;
	position: relative;
	width: 100%;
}

/* screen reader only */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

/* scroll element in browser*/
/* Для WebKit браузеров (Chrome, Safari) */
::-webkit-scrollbar {
	background-color: $color-black2;
}
::-webkit-scrollbar-thumb {
	background-color: $color-gray2;
	border-radius: 20px;
	//border: 3px dashed $color-accent;
}

/* Для Firefox браузера */
::-moz-scrollbar {
	background-color: $color-black2;
}

::-moz-scrollbar-thumb {
	background-color: #888;
	background-color: $color-gray2;
	border-radius: 20px;
}

/* CONTAINER */
.container {
	width: 100%;
	max-width: 1620px;
	margin: 0 auto;
	padding: 0;

	@media screen and (max-width: 1620px) {
		padding: 0 30px;
	}
}

// * {
// 	outline: 1px solid red;
// }

html {
	overflow-x: hidden;
}

body {
	background-color: $color-black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.accent-text {
	color: $color-accent;
}

// .scrollGradient {
// 	background-image: linear-gradient(to right, white, white),
// 		linear-gradient(to right, white, white),
// 		linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
// 		linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
// 	background-position: left center, right center, left center, right center;
// 	background-repeat: no-repeat;
// 	background-color: #343433;
// 	background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
// 	background-attachment: local, local, scroll, scroll;
// }

@include laptop {
	.container {
		padding: 0px 30px;
	}
}
