$font-main: "Montserrat", sans-serif;
$font-second: "Caveat";
$font-accent: "Luckiest Guy RUS-BEL-UKR";
$font-inter: "Inter";

$color-darkblue: #051534;
$color-white: #ffffff;
$color-lightblue: #8394b5;
$color-black: #191919;
$color-black2: #171717;
$color-gray: #343433;
$color-gray2: #302f2f;
$color-gray3: #242424;
$color-blue: #0f8ff9;
$color-accent: #99cc00;
$color-yellow: #dbefa9;
